._0bg{
    background-color: rgba(255, 127, 62, 1);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(0, 119, 255);
}
._0imgtop{
    background-color: rgba(241, 241, 241, 1);
}
._0stars{
    padding-bottom: -300px !important;
}
._0star{
    color: rgba(255, 154, 63, 1);
}
._0posi{
    position: absolute;
    right: 0;
}
._0btnactive{
    background-color: rgb(255,127,62);
}
._0btninactive{
    background-color: rgba(217, 217, 217, 1);
    color: black;
}
._0pagt{
    font-weight: 900 !important;
}
/* cart page */
._0row{
    border: 1px solid rgba(171, 171, 171, 1);
}
.order{
    background-color: rgba(255, 236, 227, 1);
}
._0post{
    position: absolute;
    right: -60px;
    top: 0;
    cursor: pointer;
}
.crtsection2{
    border-top-style: dashed;
}
.crtsection2 input{
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
}
.crtsection2 img{
    position: absolute;
    left: 100px;
    top: 8px;
}
._0inp{
    background-color: transparent;
    border: 1px solid rgba(171, 171, 171, 1);
}
._0btn{
    background-color: rgba(255, 127, 62, 1);
}
footer h6{
    font-size: 25px;
}
footer ._0foot{
    display: block;
    color: white;
    margin-top: 13px;
    font-weight: 100;
}   

footer i{
    font-size: 25px;
}
footer a{
    text-decoration: none;
}
._0toshop{
    border: 1px solid rgba(255, 127, 62, 1);
    color: rgba(255, 127, 62, 1);
}
._0toshop:hover{
    background-color: rgba(255, 127, 62, 1);
    color: white;
}
._0toshop2{
    background-color: rgba(255, 127, 62, 1);
    color: white;
}
._0toshop2:hover{
    border: 1px solid rgba(255, 127, 62, 1);
    color: rgba(255, 127, 62, 1);
    background-color: transparent;
}
._0off{
    color: silver;
}
._0bdtp{
    border-top: 2px dashed #000; 
}
._0carupos{
    position: absolute;
    right: -25px;
    bottom: 10px;
}
.cartinp{
    width: 60%;
}
._0carubord{
    border: 1px solid rgb(255,127,62);
}
@media only screen and (max-width: 768px) {
    ._0decr{
        background-color: rgb(255,127,62);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        color: white;
    }
    ._0post {
        position: absolute;
        right: -26px;
        top: -9px;
        cursor: pointer;
    }
    ._0crtinp{
    border: none;
    }
    ._0cncl{
        width: 16px;
    }
    ._0totsm{
        font-size: 12px;
    }
    ._0posismall{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    ._0terms{
        font-size: 15px !important;
        font-weight: 900;
    }
    footer i{
        font-size: 16px !important;
    }
    .cartinp{
        width: 20%;
        padding: 10px 0px 10px 5px;
        /* margin-left: 12px; */
    }
    ._0toshop{
        width: 175px;
    }
}
@media (max-width: 576px) {
    
    ._0post {
        position: absolute;
        right: -26px;
        top: -69px;
        cursor: pointer;
    }
    .cartinp{
        width: 40%;
        margin-left: 12px;
    }
    
}
@media (min-width: 768px) {
    ._0posismall{
        display: none;
    }
}